$gray : #d3d3d3;


body {
  background-image: url('http://images.all-free-download.com/images/graphiclarge/linen_fabric_background_04_hd_picture_169825.jpg');
}
.box {
  background: $gray;
  border: 1px solid black;
  border-radius: 25px;
  padding: 40px 80px;

  .button {
    font-weight: bold;
    text-align: center;
  }
}

.jumbotron {
  text-align: center;
  background-image: url('http://previews.123rf.com/images/trgowanlock/trgowanlock1412/trgowanlock141201488/34880459-Torn-fabric-as-a-background-Stock-Photo.jpg');
  color: black;
  text-shadow: 0 0 3px $gray;
  border: 1px solid black;
  border-radius: 25px !important;
}
